public/templates/n8n/perfexcrm-invoice-automation.json
{
  "name": "PerfexCRM - Invoice Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-perfexcrm.com/api/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_TOKEN"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "unpaid"
            },
            {
              "name": "due_date",
              "value": "overdue"
            }
          ]
        }
      },
      "id": "get-invoices",
      "name": "Get Overdue Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "invoices",
        "options": {}
      },
      "id": "split",
      "name": "Split Invoices",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"days_overdue\"]}}",
              "operation": "larger",
              "value2": 7
            }
          ]
        }
      },
      "id": "if",
      "name": "Check Overdue Days",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "billing@company.com",
        "toEmail": "={{$json[\"client_email\"]}}",
        "subject": "Invoice Reminder - Invoice #{{$json[\"invoice_number\"]}}",
        "text": "Dear {{$json[\"client_name\"]}},\n\nThis is a friendly reminder that invoice #{{$json[\"invoice_number\"]}} for {{$json[\"total\"]}} is now {{$json[\"days_overdue\"]}} days overdue.\n\nPlease make the payment at your earliest convenience.\n\nBest regards,\nAccounts Team",
        "options": {}
      },
      "id": "email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-perfexcrm.com/api/webhooks/invoice-reminder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invoice_id",
              "value": "={{$json[\"id\"]}}"
            },
            {
              "name": "action",
              "value": "reminder_sent"
            },
            {
              "name": "timestamp",
              "value": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "id": "log",
      "name": "Log Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Get Overdue Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overdue Invoices": {
      "main": [
        [
          {
            "node": "Split Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Invoices": {
      "main": [
        [
          {
            "node": "Check Overdue Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Overdue Days": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}