public/templates/n8n/perfexcrm-lead-creation.json
{
  "name": "PerfexCRM - Create Lead from Form Submission",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "perfexcrm-lead-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-perfexcrm.com/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json[\"name\"]}}"
            },
            {
              "name": "email",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "phone",
              "value": "={{$json[\"phone\"]}}"
            },
            {
              "name": "company",
              "value": "={{$json[\"company\"]}}"
            },
            {
              "name": "source",
              "value": "n8n-automation"
            },
            {
              "name": "status",
              "value": "new"
            }
          ]
        }
      },
      "id": "http-request",
      "name": "Create Lead in PerfexCRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Lead created successfully"
            },
            {
              "name": "leadId",
              "value": "={{$json[\"id\"]}}"
            }
          ]
        }
      },
      "id": "response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Lead in PerfexCRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in PerfexCRM": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}